<h1>Get Things Done! :) </h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
<% if task.completed %>
  <i class="fa fa-check-square-o"></i>
  <% else %>
 <i class="fa fa-square-o"></i>
<% end %>
  <% end %>
</ul>


<%= link_to tasks_new_path do %>
  <i class="fa fa-plus"></i> Add a new task
<% end %>



<%# <%= link_to '+ Create', tasks_new_path %>
