<h1>Teste Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
<% if task.completed %>
  <i class="fa fa-check-square-o"></i>
  <% else %>
 <i class="fa fa-square-o"></i>
<% end %>
  <% end %>
</ul>


<%= link_to 'Create a new one', tasks_new_path %>
